<div class="game_form">

    <h1> Create a Game Listing </h1>


    <form action='/games' method="POST">
        Title: <input type=text name="title"> <br>
        <br>
        Release Date: <input name="release_date" value="<%= Time.now.strftime("%m/%d/%Y") %>"><br>
        <br>
        Thoughts on Game: <input type=text name="description"><br>
        <br>           
            <br>
            <br>
        <input type=submit>
    <form>

</div>