Title: <%= @game.title %><br>
Release: <%= @game.try(:release_date).try(:strftime, '%m/%d/%Y') %><br>
Description: <%= @game.description %><br>

<form method="post" action="/games/<%= @game.id %>">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="delete">
</form>