<div class="list">
    <h1> Your Game List! </h1>


    <% @list_items.each do |i| %>
        <%= i.title %><br>
        <%= i.release_date %><br>
        <%= i.description %><br>
    <% end %>
</div>